{
	"useTabs": false,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"singleAttributePerLine": false,
	"printWidth": 80,
	"tabWidth": 2,
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-astro"]
}
